@mixin anim($name, $dur, $iterate) {
    animation-name: $name;
    animation-duration: $dur;
    animation-iteration-count:$iterate;
  }
  
  html,body{padding:0;margin:0;background:rgb(210, 222, 252);}
  
  p {
    font-family: 'VT323', ;
    font-size:8em;
    text-align:center;
    @include anim(example, 1s, infinite);
  }
  
  @keyframes example {
    0%{color:lime; text-shadow:0 0 20px green}
    25%{color:green; text-shadow:2px 2px 2px lime; transform: translate(-2px,1px)}
    40%{color:lime; text-shadow:none; transform: translate(0,0)}
    50%{color:green; text-shadow:5px 5px 2px blue, -5px -5px 2px red; transform: translate(0px,5px)}
    70%{color:lime; text-shadow:none; transform: translate(0,0)}
    80%{color:lime; text-shadow:0 0 20px green; transform: translate(-2px,1px)}
    100%{color:lime; text-shadow:none;}
  }

  .humanScore .compScore {
    color: chartreuse;
  }

  .mainImage {
    max-width: 200px;
  }

  body {
    padding: 8PX;
    font-family: 'Courier New', Courier, monospace;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  button {
    display: flex;
    flex-direction: column;
  }

  .items {
    display: flex;
    padding: 16px;
    justify-content: space-between;

}

.itemgrp {
    display: flex;
    padding: 16px;
    max-width: 128px;
    justify-content: center;
}